
<div class="d-flex w-100">
  <div style="width: 200px">

  </div>
  <div  style="border: solid; border-bottom-color: green; width: 200px">
    <app-card [card]="null" [cardStack]="true" (click)="selectDeck()"></app-card>
  </div>
  <div style="width: 200px">

  </div>
<div dragula="PILE_SRC" style="border: solid; border-bottom-color: green; width: 200px" id="aaa">
  <app-card [card]="cardVisible"></app-card>
</div>
  <div style="width: 200px">

  </div>
<div dragula="PILE_SRC" style="border: solid; border-bottom-color: green; width: 200px" id="bbb">

</div>

</div>

<hr/>
<app-card [card]="card"></app-card>
<app-card [card]="card2"></app-card>
<app-card [card]="card3"></app-card>
<hr>
<div >
  <div class="d-flex flex-wrap w-100">
    <app-card *ngFor="let c of listCard" [card]="c"></app-card>
  </div>
</div>
<hr/>

<div>
  <div class="wrapper">
    <div class="container" dragula="DRAGULA_FACTS">
      <div>You can move these elements between these two containers</div>
      <div>Moving them anywhere else isn't quite possible</div>
      <div>There's also the possibility of moving elements around in the same container, changing their position</div>
    </div>
    <div class="container" dragula="DRAGULA_FACTS">
      <div>This is the default use case. You only need to specify the containers you want to use</div>
      <div>More interactive use cases lie ahead</div>
      <div>Make sure to check out the <a href="https://github.com/bevacqua/dragula#readme">documentation on GitHub!</a></div>
    </div>
  </div>
</div>





